@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Asqa_Web.Models.KompetenzViewModel

@{
    ViewData["Title"] = "Create Kompetenz";
}

<h2>@ViewData["Title"]</h2>

<h4>Kompetenz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Komp_name" class="control-label"></label>
                <input asp-for="Komp_name" class="form-control" />
                <span asp-validation-for="Komp_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}