@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Asqa_Web.Models.Entities.Mitarb_Projekt

@{
    ViewData["Title"] = "Edit Mitarb_Projekt";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Ma_id" class="control-label">Mitarbeiter</label>
        <select asp-for="Ma_id" class="form-control" asp-items="ViewBag.MitarbeiterList"></select>
    </div>
    <div class="form-group">
        <label asp-for="Proj_id" class="control-label">Projekt</label>
        <select asp-for="Proj_id" class="form-control" asp-items="ViewBag.ProjektenList"></select>
    </div>
    <div class="form-group">
        <label asp-for="Ma_rolle" class="control-label"></label>
        <input asp-for="Ma_rolle" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Start_date" class="control-label"></label>
        <input asp-for="Start_date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="End_date" class="control-label"></label>
        <input asp-for="End_date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Taetigkeiten" class="control-label"></label>
        <input asp-for="Taetigkeiten" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>