@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Asqa_Web.Models.Entities.Projekt_Technologie>

@{
    ViewData["Title"] = "Index";
}

<h1>Projekt Technologien</h1>

<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.Projekten.Proj_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technologie.Tech_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
             
                <td>
                    @Html.DisplayFor(modelItem => item.Projekten.Proj_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Technologie.Tech_name)
                </td>
               
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New</a>