@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Asqa_Web.Models.SelectTechnologieViewModel

<div class="text-center">
    <img src="~/images/TechAsqa.png" alt="Welcome Image" style="max-width: 100%; height: auto;" />
</div>

<h1 class="text-center">Select Technologie</h1>


<div class="center-form-container">

<form asp-action="Select" method="post">
    <div class="form-group">
            <label for="SelectedTechnologieId" class="mr-2"></label>
            <div class="input-group">

        <select asp-for="SelectedTechnologieId" class="form-control" asp-items="Model.TechnologieList">
            <option value="">-- Select  --</option>
        </select>
                <div class="input-group-append">
               
    <button type="submit" class="btn btn-primary">Select</button>

    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "Technologie")'">Add Tech</button>
				</div>
</form>
</div>
@if (Model.SelectedTechnologieId != 0)
{
    <div class="mt-4">
        <h3>Tech Details</h3>
        <p><strong>Tech Name:</strong> @Model.Tech_name</p>
    </div>
}

<style>
    .center-form-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .center-form .form-group {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .center-form .input-group {
        display: flex;
        justify-content: center;
    }

    .input-group-append {
        display: flex;
        margin-left: 10px;
    }

    .btn-primary {
        margin-left: 5px;
    }

    .table-centered {
        margin: 0 auto;
        width: 80%;
    }

    .text-center {
        text-align: center;
    }
</style>